<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ethanpark.stock.common.dal.mappers.MetadataModelMapper">
    <resultMap id="BaseResultMap" type="com.ethanpark.stock.common.dal.mappers.entity.MetadataModelDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="model_type" jdbcType="VARCHAR" property="modelType"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="ext_info" jdbcType="VARCHAR" property="extInfo"/>
        <result column="current_version" jdbcType="INTEGER" property="currentVersion"/>
        <result column="snapshot_hash" jdbcType="VARCHAR" property="snapshotHash"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        select *
        from metadata_model
        order by gmt_modified desc
    </select>

    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select *
        from metadata_model
        where id = #{id}
    </select>

    <select id="selectByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from metadata_model
        where code = #{code}
    </select>

    <insert id="insert" parameterType="com.ethanpark.stock.common.dal.mappers.entity.MetadataModelDO" useGeneratedKeys="true" keyProperty="id">
        insert into metadata_model (name, code, model_type, description, status, ext_info, current_version, snapshot_hash, gmt_create, gmt_modified)
        values (#{name}, #{code}, #{modelType}, #{description}, #{status}, #{extInfo}, #{currentVersion}, #{snapshotHash}, now(), now())
    </insert>

    <update id="updateById" parameterType="com.ethanpark.stock.common.dal.mappers.entity.MetadataModelDO">
        update metadata_model
        set name            = #{name}
          , code            = #{code}
          , model_type      = #{modelType}
          , description     = #{description}
          , status          = #{status}
          , ext_info        = #{extInfo}
          , current_version = #{currentVersion}
          , snapshot_hash   = #{snapshotHash}
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from metadata_model
        where id = #{id}
    </delete>
</mapper>
