<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ethanpark.stock.common.dal.mappers.StockInfoMapper">

    <select id="getStockCodes" resultType="java.lang.String">
        select code from stock_info
    </select>

    <select id="getStockCnt" resultType="java.lang.Integer">
        select count(*) from stock_info
    </select>

</mapper>